img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.main {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.project-description {
	margin-bottom: 100px;
}

.note {
	margin-top: 50px;
	text-align: center;
	font-size: 18px;
	margin-bottom: 100px;
}

.project-title:hover {
	color: var(--title-dark);
}

.project-title {
	font-family: "Ubuntu Mono", "sans-serif";
	font-size: 32px;
	color: var(--title-light);
}